<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangguoming.zhoukao.dao.PlanDao">
	<insert id="insert">
		INSERT INTO zhunneng_plan(name,amount,manager,content,dept_id)VALUES 
	(#{name},#{amount},#{manager},#{content},#{dept_id})
	</insert>
	
	<delete id="deleteByIds">
		DELETE FROM zhunneng_plan WHERE id in(${ids})
	</delete>
	
	<update id="update">
	UPDATE zhunneng_plan
	 SET name=#{name},amount=#{amount},manager=#{manager},content=#{content},dept_id=#{dept_id} 
	WHERE id=#{id}
	</update>
	
	<select id="selectById" resultType="Plan">
		SELECT * FROM zhunneng_plan WHERE id=#{id}
	</select>
	
	<select id="select"  resultType="Plan">
		SELECT * FROM zhunneng_plan
		<where>
			<if test="name!=null">
				name like '%${name}%' 
			</if>
		</where>
	</select>
</mapper>